@font-face {
  font-family: "DigitalFont"; /*a name to be used later*/
  src: url("./digital-7.regular.ttf"); /*URL to font*/
}

body {
  display: grid;
  font-size: 20px;
  font-family: "DigitalFont";
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: auto 1fr 1fr;
  justify-content: center;
  background-color: #cae7df;
  color: black;
}

.main-container {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 200px 150px 150px 150px 150px;
  justify-items: center;
  align-items: center;
  margin-top: 25px;
  gap: 7px;
}

.calc-display {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  grid-column: 1/5;
  grid-row: 1/2;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 42px;
}

/* Buttons */

button {
  all: unset;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.btn-number:hover,
.btn-function:hover {
  transform: scale(1.05);
}

.btn-number,
.btn-function:hover {
  background-color: white;
  color: black;
}

.btn-function,
.btn-number:hover {
  background-color: #2a3166;
  color: white;
}
